* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  overflow: hidden;
  background-color: #aec670;
  height: 100vh;
  width: 100vw;
}

/* header */
.header {
  margin: 0 auto;
  background-color: blueviolet;
  height: 3rem;
  max-width: 1440px;
}

/* main */

/* star-game */
.start-menu {
  border-radius: 2rem;
  padding-top: 5%;
  justify-content: space-around;
  display: flex;
  z-index: 25;
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60vw;
  height: 70vh;
  background-color: rgb(0, 0, 0);
}
.nickname {
  padding-left: 1rem;
  border-radius: 2rem;
  margin-left: 0.5rem;
  outline: none;
  font-size: 3rem;
  height: 20%;
  width: 35%;
}
.prev {
  width: 12%;
  height: 40%;
}
.textgame {
  width: 85%;
  font-size: 3rem;
  top: 60%;
  color: white;
  position: absolute;
}
.start {
  font-weight: 900;
  color: red;
  left: 3.5%;
  border-radius: 2rem;
  position: absolute;
  top: 35%;
  margin-left: 0.5rem;
  outline: none;
  font-size: 3rem;
  height: 15%;
  width: 35%;
}

.you-nick {
  display: none;
  font-size: 1.2rem;
  color: red;
  position: absolute;
  top: 4%;
  left: 10%;
}

/* finish menu */
.finish-menu {
  padding-top: 5px;
  line-height: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
  transition: 0.5s;
  top: 40%;
  left: 40%;
  position: absolute;
  width: 15rem;
  height: 7rem;
  background-color: white;
  z-index: 16;
}
.finish-img {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 20%;
}
.new-start {
  color: white;
  background-color: rgba(255, 0, 0, 0.678);
  width: 50%;
  border-radius: 1rem;
  height: 20%;
}

.back {
  color: white;
  background-color: rgba(255, 0, 0, 0.678);
  width: 30%;
  border-radius: 1rem;
  height: 20%;
}

/* back */
.backdoor {
  display: none;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 90rem;
  background-color: rgba(0, 0, 0, 0.491);
  z-index: 15;
}

/*  */
.express-game {
  margin: 0 auto;
  height: 100%;
  max-width: 90rem;
  display: flex;
}

.tree {
  z-index: 10;
  position: absolute;
  height: 33%;
}
.tree1-left {
  transform: translate(240%);
  width: 33%;
}
.tree2-left {
  transform: translate(240%, 100%);
  width: 33%;
  z-index: 10;
}
.tree3-left {
  transform: translate(240%, 200%);
  width: 33%;
  z-index: 12;
}
.tree1-right {
  transform: translate(-20%);
  width: 33%;
}
.tree2-right {
  transform: translate(-25%, 100%);
  width: 33%;
  z-index: 10;
}
.tree3-right {
  transform: translate(-25%, 200%);
  width: 33%;
  z-index: 12;
}
/* left side */
.left {
  display: flex;
  position: relative;
  background-color: #aec670;
  width: 30%;
  height: auto;
}
.street-tree {
  position: relative;
  width: 100%;
  height: 100%;
}
.score {
  position: relative;
  padding-left: 2%;
  justify-content: space-between;
  display: flex;
  background-color: orange;
  width: 75%;
  height: 3rem;
  margin-top: 8%;
  margin-left: 2%;
}
.score-text {
  font-size: 3rem;
  width: 40%;
}
.score-game {
  text-align: center;
  font-size: 3rem;
  width: 40%;
}
.down-button {
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  font-size: 3rem;

  width: 20%;
}
.down-button:hover {
  transform: scale(130%);
}
.statistic {
  background-color: aquamarine;
  left: 0;
  top: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.leadboard {
  text-align: center;
  font-size: 2rem;
  width: 100%;
}
.table {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

/* middle road */
.road {
  background-color: #494843;
  overflow: hidden;
  position: relative;
  z-index: 8;
  width: 40%;
  height: 100vh;
  transform: translateY(0vh);
}
.road-map {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100vh;
  transform: translateY(0vh);
}
.road-map2 {
  position: absolute;
  top: 0%;
  z-index: 9;
  width: 100%;
  height: 100vh;
  transform: translateY(0vh);
}
.road-back {
  width: 100%;
  height: 100%;
}
.car {
  z-index: 12;
  transform: translate(35vh, 70vh);
  width: 15%;
  height: 25%;
  position: absolute;
}
.cash {
  width: 15%;
  height: 15%;
  z-index: 10;
  position: absolute;
  transform: translate(40vh, 100vh);
}
.danger {
  width: 25%;
  height: 20%;
  z-index: 10;
  position: absolute;
  transform: translate(60vh, 40vh);
}

/* right side */
.right {
  position: relative;
  background-color: #aec670;
  width: 30%;
  height: auto;
}
.play {
  transition: 0.5s;
  cursor: pointer;
  background-color: #aec670;
  margin-top: 30%;
  margin-left: 40%;
  height: 20%;
  width: 40%;
}
.play:hover {
  transform: scale(150%);
}
.play-pause {
  height: 100%;
  width: 100%;
}
/* Footer */

.footer {
  z-index: 100;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.308);
  position: absolute;
  top: 80%;
  gap: 30px;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 5rem;
}
.github,
.rsschool,
.years {
  transition: 0.5s;
  border-radius: 20%;
  padding-top: 8px;
  text-align: center;
  background-color: white;
  margin-top: 0.3rem;
  width: 4rem;
  height: 3rem;
}
.years {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.github:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.rsschool:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.Ficon {
  width: 3rem;
  height: 2rem;
}

/* media*/
@media screen and (max-width: 3500px) {
  .footer {
    top: 90%;
  }
}
@media screen and (max-width: 1440px) {
  .table {
    font-size: 1.8rem;
  }
  .textgame,
  .nickname,
  .start {
    font-size: 2rem;
  }
  .you-nick {
    font-size: 1.2rem;
  }
  .footer {
    top: 80%;
  }
}
@media screen and (max-width: 1180px) {
  .table {
    font-size: 1rem;
  }
  .score-text,
  .leadboard {
    font-size: 2rem;
  }
  .score-game {
    font-size: 2rem;
  }
  .down-button {
    font-size: 2rem;
  }
  .score {
    height: 2rem;
  }
  .textgame,
  .nickname,
  .start {
    font-size: 1.5rem;
  }
  .you-nick {
    font-size: 0.9rem;
  }
  .footer {
    top: 78%;
  }
}
@media screen and (max-width: 850px) {
  .table {
    font-size: 0.7rem;
  }
  .score-text,
  .leadboard {
    font-size: 1rem;
  }
  .score-game {
    font-size: 1rem;
  }
  .down-button {
    font-size: 1rem;
  }
  .score {
    height: 1rem;
  }
  .textgame,
  .nickname,
  .start {
    font-size: 1rem;
  }
  .you-nick {
    font-size: 0.6rem;
  }
  .footer {
    top: 75%;
    height: 5rem;
  }
  .github,
  .rsschool,
  .years {
    font-size: 1rem;
    width: 3rem;
    height: 2rem;
  }
  .Ficon {
    width: 1rem;
    height: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .table {
    font-size: 0.2rem;
  }
  .score-text,
  .leadboard,
  .table {
    font-size: 0.5rem;
  }
  .score-game {
    font-size: 0.5rem;
  }
  .down-button {
    font-size: 0.5rem;
  }
  .score {
    height: 0.5rem;
  }
  .textgame,
  .nickname,
  .start {
    font-size: 0.7rem;
  }
  .you-nick {
    font-size: 0.4rem;
  }
  .footer {
    top: 70%;
  }
  .github,
  .rsschool,
  .years {
    padding-top: 0.2rem;
    font-size: 0.6rem;
    width: 1.5rem;
    height: 1rem;
  }
  .Ficon {
    width: 0.7rem;
    height: 0.7rem;
  }
}
